$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
.title {
  text-align: center;
}
.todoWrap {
  padding-top: 10px;
  display: grid;
  gap: 40px;
  margin: 0 auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio {
  padding-top: 20px;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  grid-template-rows: auto auto;
  justify-content: center;
  font-size: 1rem;
  p {
    margin-top: 15px;
  }
}

.RadioButton {
  margin: 16px 0;

  label {
    display: inline-block;
    height: $md-radio-size;
    position: relative;
    padding: 0 ($md-radio-size + 10px);
    margin-bottom: 5px;
    cursor: pointer;
    vertical-align: bottom;
  }
}
